body{
    background-image: url("pic/desktop.jpg");
}

.toy{
    background-color: royalblue;
    width: 1000px;
    height: 700px;
    border-radius: 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#screen{
    background-color: aliceblue;
    width: 900px;
    height: 620px;
    border-radius: 3%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, -13px 5px 4px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, -13px 5px 4px 5px rgba(0,0,0,0);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.name{
    margin: 0 auto;
    padding-top: 10px;
    font-style: italic;
    font-weight: bold;
    color: rgba(0,0,0,.6);
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}
.input{
    margin-left: 5px;
    width: 30px;
    height: 20px;
}

.input:hover {
    box-shadow: 0px 0px 6px #eee ; 
    -webkit-box-shadow: 0px 0px 6px #eee ; 
    -moz-box-shadow: 0px 0px 6px #eee ; 
  }

